<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <filter>
    <filter-name>SessionCheckFilter</filter-name>
    <filter-class>com.exam.filter.SessionCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionCheckFilter</filter-name>
    <url-pattern>*.exam</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.exam.listener.SessionCountListener</listener-class>
  </listener>
  <servlet>
    <description>
		</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.exam.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.exam.servlet.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile.exam</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>indexing.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.exam.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.exam.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuizMasterServlet</display-name>
    <servlet-name>QuizMasterServlet</servlet-name>
    <servlet-class>com.exam.servlet.QuizMasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizMasterServlet</servlet-name>
    <url-pattern>/quiz_master</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProfileServlet</display-name>
    <servlet-name>AdminProfileServlet</servlet-name>
    <servlet-class>com.exam.servlet.AdminProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProfileServlet</servlet-name>
    <url-pattern>/adminprofile.exam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionServlet</display-name>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>com.exam.servlet.QuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/question</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultGeneratorServlet</display-name>
    <servlet-name>ResultGeneratorServlet</servlet-name>
    <servlet-class>com.exam.servlet.ResultGeneratorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultGeneratorServlet</servlet-name>
    <url-pattern>/result</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultsServlet</display-name>
    <servlet-name>ResultsServlet</servlet-name>
    <servlet-class>com.exam.servlet.ResultsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultsServlet</servlet-name>
    <url-pattern>/allresults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.exam.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>com.exam.servlet.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/contactus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteQuizServlet</display-name>
    <servlet-name>AdminDeleteQuizServlet</servlet-name>
    <servlet-class>com.exam.servlet.AdminDeleteQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteQuizServlet</servlet-name>
    <url-pattern>/deleteQuiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmDeleteQuiz</display-name>
    <servlet-name>ConfirmDeleteQuiz</servlet-name>
    <servlet-class>com.exam.servlet.ConfirmDeleteQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmDeleteQuiz</servlet-name>
    <url-pattern>/ConfirmDeleteQuiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCreateQuizServlet</display-name>
    <servlet-name>AdminCreateQuizServlet</servlet-name>
    <servlet-class>com.exam.servlet.AdminCreateQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCreateQuizServlet</servlet-name>
    <url-pattern>/createquiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminInsertQuestionSelectQuiz</display-name>
    <servlet-name>AdminInsertQuestionSelectQuiz</servlet-name>
    <servlet-class>com.exam.servlet.AdminInsertQuestionSelectQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInsertQuestionSelectQuiz</servlet-name>
    <url-pattern>/AdminInsertQuestionSelectQuiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminInsertQuestionServlet</display-name>
    <servlet-name>AdminInsertQuestionServlet</servlet-name>
    <servlet-class>com.exam.servlet.AdminInsertQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInsertQuestionServlet</servlet-name>
    <url-pattern>/AdminInsertQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteQuestionSelectQuiz</display-name>
    <servlet-name>AdminDeleteQuestionSelectQuiz</servlet-name>
    <servlet-class>com.exam.servlet.AdminDeleteQuestionSelectQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteQuestionSelectQuiz</servlet-name>
    <url-pattern>/AdminDeleteQuestionSelectQuiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteQuestionServlet</display-name>
    <servlet-name>AdminDeleteQuestionServlet</servlet-name>
    <servlet-class>com.exam.servlet.AdminDeleteQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteQuestionServlet</servlet-name>
    <url-pattern>/AdminDeleteQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteQuestions</display-name>
    <servlet-name>AdminDeleteQuestions</servlet-name>
    <servlet-class>com.exam.servlet.AdminDeleteQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteQuestions</servlet-name>
    <url-pattern>/deletequestionadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyLoginServlet</display-name>
    <servlet-name>FacultyLoginServlet</servlet-name>
    <servlet-class>com.exam.servlet.FacultyLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyLoginServlet</servlet-name>
    <url-pattern>/FacultyLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyProfileServlet</display-name>
    <servlet-name>FacultyProfileServlet</servlet-name>
    <servlet-class>com.exam.servlet.FacultyProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyProfileServlet</servlet-name>
    <url-pattern>/facultyprofile.exam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyRegisterServlet</display-name>
    <servlet-name>FacultyRegisterServlet</servlet-name>
    <servlet-class>com.exam.servlet.FacultyRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyRegisterServlet</servlet-name>
    <url-pattern>/facultyregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyCreateQuizServlet</display-name>
    <servlet-name>FacultyCreateQuizServlet</servlet-name>
    <servlet-class>com.exam.servlet.FacultyCreateQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyCreateQuizServlet</servlet-name>
    <url-pattern>/facultycreatequiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyDeleteQuizServlet</display-name>
    <servlet-name>FacultyDeleteQuizServlet</servlet-name>
    <servlet-class>com.exam.servlet.FacultyDeleteQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyDeleteQuizServlet</servlet-name>
    <url-pattern>/facultydeleteQuiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyConfirmDeleteQuiz</display-name>
    <servlet-name>FacultyConfirmDeleteQuiz</servlet-name>
    <servlet-class>com.exam.servlet.FacultyConfirmDeleteQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyConfirmDeleteQuiz</servlet-name>
    <url-pattern>/facultyconfirmquiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyInsertQuestionSelectQuiz</display-name>
    <servlet-name>FacultyInsertQuestionSelectQuiz</servlet-name>
    <servlet-class>com.exam.servlet.FacultyInsertQuestionSelectQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyInsertQuestionSelectQuiz</servlet-name>
    <url-pattern>/facultyInsertQuestionSelectQuiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyInsertQuestionServlet</display-name>
    <servlet-name>FacultyInsertQuestionServlet</servlet-name>
    <servlet-class>com.exam.servlet.FacultyInsertQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyInsertQuestionServlet</servlet-name>
    <url-pattern>/facultyInsertQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyDeleteQuestions</display-name>
    <servlet-name>FacultyDeleteQuestions</servlet-name>
    <servlet-class>com.exam.servlet.FacultyDeleteQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyDeleteQuestions</servlet-name>
    <url-pattern>/facultyDeleteQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyDeleteQuestionSelectQuiz</display-name>
    <servlet-name>FacultyDeleteQuestionSelectQuiz</servlet-name>
    <servlet-class>com.exam.servlet.FacultyDeleteQuestionSelectQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyDeleteQuestionSelectQuiz</servlet-name>
    <url-pattern>/facultyDeleteQuestionSelectQuiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyDeleteQuestionServlet</display-name>
    <servlet-name>FacultyDeleteQuestionServlet</servlet-name>
    <servlet-class>com.exam.servlet.FacultyDeleteQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyDeleteQuestionServlet</servlet-name>
    <url-pattern>/facultyDeleteQuestionServlet</url-pattern>
  </servlet-mapping>
</web-app>